<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ex1-1-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>718858C71E022BB800E9D2FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>718858E01E022BB900E9D2FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>718858EB1E022BB900E9D2FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
